<div class="off-canvas off-canvas-right off-canvas-effect" id="offcanvas-edit">
    <div class="card d-flex flex-column h-100">
        <div class="card-header">
            Edit
        </div>
        <div class="card-body align-self-stretch">
            <nav>
                <div class="nav nav-tabs d-flex flex-nowrap">
                    <!-- tabs -->
                    <a class="nav-item nav-link text-nowrap active" href="#navtab-tab1" data-toggle="tab">Form</a>
                    <a class="nav-item nav-link text-nowrap" href="#navtab-tab2" data-toggle="tab">Froala Editor</a>
                    <a class="nav-item nav-link text-nowrap" href="#navtab-tab3" data-toggle="tab">Ckeditor5</a>
                    <a class="nav-item nav-link text-nowrap" href="#navtab-tab4" data-toggle="tab">Summernote</a>
                    <a class="nav-item nav-link text-nowrap" href="#navtab-tab5" data-toggle="tab">Croppie</a>
                    <a class="nav-item nav-link text-nowrap" href="#navtab-tab6" data-toggle="tab">Tab6</a>
                    <a class="nav-item nav-link text-nowrap" href="#navtab-tab7" data-toggle="tab">Tab7</a>
                    <a class="nav-item nav-link text-nowrap" href="#navtab-tab8" data-toggle="tab">Tab8</a>
                    <a class="nav-item nav-link text-nowrap" href="#navtab-tab9" data-toggle="tab">Tab9</a>
                    <a class="nav-item nav-link text-nowrap" href="#navtab-tab10" data-toggle="tab">Tab10</a>
                    <a class="nav-item nav-link text-nowrap" href="#navtab-tab11" data-toggle="tab">Tab11</a>
                    <a class="nav-item nav-link text-nowrap" href="#navtab-tab12" data-toggle="tab">Tab12</a>
                    <a class="nav-item nav-link text-nowrap" href="#navtab-tab13" data-toggle="tab">Tab13</a>
                    <a class="nav-item nav-link text-nowrap" href="#navtab-tab14" data-toggle="tab">Tab14</a>
                    <a class="nav-item nav-link text-nowrap" href="#navtab-tab15" data-toggle="tab">Tab15</a>
                    <a class="nav-item nav-link text-nowrap" href="#navtab-tab16" data-toggle="tab">Tab16</a>
                    <a class="nav-item nav-link text-nowrap" href="#navtab-tab17" data-toggle="tab">Tab17</a>
                    <a class="nav-item nav-link text-nowrap" href="#navtab-tab18" data-toggle="tab">Tab18</a>
                    <a class="nav-item nav-link text-nowrap" href="#navtab-tab19" data-toggle="tab">Tab19</a>
                    <a class="nav-item nav-link text-nowrap" href="#navtab-tab20" data-toggle="tab">Tab20</a>
                </div>
            </nav>
            <div class="tab-content">
                <!-- tab -->
                <div class="tab-pane pt-2 show active" id="navtab-tab1">
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="edit-name" class="col-form-label col-form-label-sm">Name</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm is-invalid" id="edit-name" placeholder="text">
                            <div class="invalid-feedback">
                                error
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="edit-email" class="col-form-label col-form-label-sm">Email</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" id="edit-email" placeholder="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="edit-phone" class="col-form-label col-form-label-sm">Phone</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" id="edit-phone" placeholder="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="edit-address" class="col-form-label col-form-label-sm">Address</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" id="edit-address" placeholder="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="edit-birthday" class="col-form-label col-form-label-sm">Birthday</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" id="edit-birthday" placeholder="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="edit-status" class="col-form-label col-form-label-sm">Status</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" id="edit-status" placeholder="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="edit-created_at" class="col-form-label col-form-label-sm">Created At</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" id="edit-created_at" placeholder="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="edit-updated_at" class="col-form-label col-form-label-sm">Updated At</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" id="edit-updated_at" placeholder="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="edit-tags" class="col-form-label col-form-label-sm">Tags</label>
                        </div>
                        <div class="col-sm-9">
                            <select class="form-control form-control-sm" id="edit-tags" multiple="multiple">
                                <optgroup label="Alaskan/Hawaiian Time Zone">
                                    <option value="AK">Alaska</option>
                                    <option value="HI" disabled="disabled">Hawaii</option>
                                </optgroup>
                                <optgroup label="Pacific Time Zone">
                                    <option value="CA">California</option>
                                    <option value="NV">Nevada</option>
                                    <option value="OR">Oregon</option>
                                    <option value="WA">Washington</option>
                                </optgroup>
                                <optgroup label="Mountain Time Zone">
                                    <option value="AZ">Arizona</option>
                                    <option value="CO">Colorado</option>
                                    <option value="ID">Idaho</option>
                                    <option value="MT">Montana</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NM">New Mexico</option>
                                    <option value="ND">North Dakota</option>
                                    <option value="UT">Utah</option>
                                    <option value="WY">Wyoming</option>
                                </optgroup>
                                <optgroup label="Central Time Zone">
                                    <option value="AL">Alabama</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IA">Iowa</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="MN">Minnesota</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MO">Missouri</option>
                                    <option value="OK">Oklahoma</option>
                                    <option value="SD">South Dakota</option>
                                    <option value="TX">Texas</option>
                                    <option value="TN">Tennessee</option>
                                    <option value="WI">Wisconsin</option>
                                </optgroup>
                                <optgroup label="Eastern Time Zone">
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="FL">Florida</option>
                                    <option value="GA">Georgia</option>
                                    <option value="IN">Indiana</option>
                                    <option value="ME">Maine</option>
                                    <option value="MD">Maryland</option>
                                    <option value="MA">Massachusetts</option>
                                    <option value="MI">Michigan</option>
                                    <option value="NH">New Hampshire</option>
                                    <option value="NJ">New Jersey</option>
                                    <option value="NY">New York</option>
                                    <option value="NC">North Carolina</option>
                                    <option value="OH">Ohio</option>
                                    <option value="PA">Pennsylvania</option>
                                    <option value="RI">Rhode Island</option>
                                    <option value="SC">South Carolina</option>
                                    <option value="VT">Vermont</option>
                                    <option value="VA">Virginia</option>
                                    <option value="WV">West Virginia</option>
                                </optgroup>
                                <option value="TNOGZ" disabled="disabled">The No Optgroup Zone</option>
                                <option value="TPZ">The Panic Zone</option>
                                <option value="TTZ">The Twilight Zone</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <legend class="col-sm-3 col-form-label col-form-label-sm pt-0">Radios</legend>
                        <div class="col-sm-9">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="edit-radios" id="edit-radio1-radios" value="option1" checked>
                                <label class="form-check-label" for="edit-radio1-radios">
                                    First radio
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="edit-radios" id="edit-radio2-radios" value="option2">
                                <label class="form-check-label" for="edit-radio2-radios">
                                    Second radio
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <input class="form-check-input" type="radio" name="edit-radios" id="edit-radio3-radios" value="option3" disabled>
                                <label class="form-check-label" for="edit-radio3-radios">
                                    Third disabled radio
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <legend class="col-sm-3 col-form-label col-form-label-sm pt-0">Checkboxes</legend>
                        <div class="col-sm-9">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="edit-checkboxes" id="edit-checkbox1-checkboxes" value="option1" checked>
                                <label class="form-check-label" for="edit-checkbox1-checkboxes">
                                    First checkbox
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="edit-checkboxes" id="edit-checkbox2-checkboxes" value="option2">
                                <label class="form-check-label" for="edit-checkbox2-checkboxes">
                                    Second checkbox
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <input class="form-check-input" type="checkbox" name="edit-checkboxes" id="edit-checkbox3-checkboxes" value="option3" disabled>
                                <label class="form-check-label" for="edit-checkbox3-checkboxes">
                                    Third disabled checkbox
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane pt-2" id="navtab-tab2">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="edit-froalaeditor" class="col-form-label col-form-label-sm">Froala Editor</label>
                        </div>
                        <div class="col-sm-12">
                            <textarea id="edit-froalaeditor"></textarea>
                        </div>
                    </div>
                </div>
                <div class="tab-pane pt-2" id="navtab-tab3">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="edit-ckeditor5" class="col-form-label col-form-label-sm">Ckeditor5</label>
                        </div>
                        <div class="col-sm-12">
                            <textarea id="edit-ckeditor5"></textarea>
                        </div>
                    </div>
                </div>
                <div class="tab-pane pt-2" id="navtab-tab4">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="edit-summernote" class="col-form-label col-form-label-sm">Summernote</label>
                        </div>
                        <div class="col-sm-12">
                            <textarea id="edit-summernote"></textarea>
                        </div>
                    </div>
                </div>
                <div class="tab-pane pt-2" id="navtab-tab5">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="edit-croppie" class="col-form-label col-form-label-sm">Croppie</label>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-group input-group-sm">
                                <input type="file" class="form-control" id="edit-croppie" accept="image/*">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" id="edit-croppie-clip">Clip</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 mt-2 d-none-">
                            <div id="edit-croppie-display"></div>
                        </div>
                        <div class="col-sm-12 mt-2 d-none-">
                            <img data-src="holder.js/300x200" id="edit-croppie-view" class="rounded mx-auto d-block">
                        </div>
                    </div>
                </div>
                <div class="tab-pane pt-2" id="navtab-tab6">Tab-6</div>
                <div class="tab-pane pt-2" id="navtab-tab7">Tab-7</div>
                <div class="tab-pane pt-2" id="navtab-tab8">Tab-8</div>
                <div class="tab-pane pt-2" id="navtab-tab9">Tab-9</div>
                <div class="tab-pane pt-2" id="navtab-tab10">Tab-10</div>
                <div class="tab-pane pt-2" id="navtab-tab11">Tab-11</div>
                <div class="tab-pane pt-2" id="navtab-tab12">Tab-12</div>
                <div class="tab-pane pt-2" id="navtab-tab13">Tab-13</div>
                <div class="tab-pane pt-2" id="navtab-tab14">Tab-14</div>
                <div class="tab-pane pt-2" id="navtab-tab15">Tab-15</div>
                <div class="tab-pane pt-2" id="navtab-tab16">Tab-16</div>
                <div class="tab-pane pt-2" id="navtab-tab17">Tab-17</div>
                <div class="tab-pane pt-2" id="navtab-tab18">Tab-18</div>
                <div class="tab-pane pt-2" id="navtab-tab19">Tab-19</div>
                <div class="tab-pane pt-2" id="navtab-tab20">Tab-20</div>
            </div>
        </div>
        <div class="card-footer">
            <a href="#" class="text-secondary mr-4 btn-offcanvas-close">Close</a>
            <a href="#" class="text-primary mr-4">Save</a>
        </div>
    </div>
</div>