<div class="off-canvas off-canvas-left off-canvas-effect" id="offcanvas-menu">
    <div class="card d-flex flex-column h-100">
        <div class="card-header">
            Menu
        </div>
        <div class="card-body align-self-stretch p-0 menu">
            <ul class="nav flex-column collapse-parent">
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="collapse" data-target=".collapse-dashboard">Dashboard</a>
                    <div class="collapse layer-color collapse-dashboard" data-parent=".collapse-parent">
                        <ul class="nav flex-column">
                            <li>
                                <a class="nav-link" href="#">Finder</a>
                            </li>
                            <li>
                                <a class="nav-link" href="#">Product</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="collapse" data-target=".collapse-management">Management</a>
                    <div class="collapse layer-color collapse-management" data-parent=".collapse-parent">
                        <ul class="nav flex-column">
                            <li>
                                <a class="nav-link" href="#">Accounts</a>
                            </li>
                            <li>
                                <a class="nav-link" href="#">Assign Roles</a>
                            </li>
                            <li>
                                <a class="nav-link" href="#">Roles</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" data-toggle="collapse" data-target=".collapse-all-pages">All Pages</a>
                    <div class="collapse layer-color collapse-all-pages show" data-parent=".collapse-parent">
                        <ul class="nav flex-column">
                            <li>
                                <a class="nav-link" href="index.html">Index</a>
                            </li>
                            <li>
                                <a class="nav-link" href="login.html">Login</a>
                            </li>
                            <li>
                                <a class="nav-link" href="register.html">Register</a>
                            </li>
                            <li>
                                <a class="nav-link" href="password_sendlink.html">Password Sendlink</a>
                            </li>
                            <li>
                                <a class="nav-link" href="password_reset.html">Password Reset</a>
                            </li>
                            <li>
                                <a class="nav-link active" href="table.html">Table</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="collapse" data-target=".collapse-a">Layer A</a>
                    <div class="collapse layer-color collapse-a" data-parent=".collapse-parent">
                        <ul class="nav flex-column">
                            <li>
                                <a class="nav-link" href="#">Layer B-1</a>
                            </li>
                            <li>
                                <a class="nav-link" href="#" data-toggle="collapse" data-target=".collapse-b-2">Layer B-2</a>
                                <div class="collapse layer-color collapse-b-2" data-parent=".collapse-a">
                                    <ul class="nav flex-column">
                                        <li>
                                            <a class="nav-link" href="#">Layer C-1</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="#" data-toggle="collapse" data-target=".collapse-c-2">Layer C-2</a>
                                            <div class="collapse layer-color collapse-c-2" data-parent=".collapse-b-2">
                                                <ul class="nav flex-column">
                                                    <li>
                                                        <a class="nav-link" href="#">Layer D-1</a>
                                                    </li>
                                                    <li>
                                                        <a class="nav-link" href="#">Layer D-2</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="card-footer text-right">
            <a class="text-secondary btn-offcanvas-close" href="#">Close</a>
        </div>
    </div>
</div>