<nav class="navbar">
    <!-- nav left -->
    <div>
        <a href="#" class="mdi mdi-menu mr-1" id="offcanvas-menu-btn"></a>
        <a href="index.html" class="font-weight-bold">CMS</a>
    </div>
    <!-- nav right -->
    <div>
        <a href="login.html" class="mr-2">
            <i class="mdi mdi-login-variant mr-1"></i>Login
        </a>
        <a href="register.html" class="mr-2">
            <i class="mdi mdi-account-plus mr-1"></i>Register
        </a>
        <div class="dropdown d-inline">
            <a href="#" data-toggle="dropdown">
                <img src="${require(`../../images/logo/chrome.png`)}" class="rounded-circle" width="32" height="32">
                <span>Name</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class="dropdown-item" id="offcanvas-profile-btn">
                    <i class="mdi mdi-account mr-1"></i>Profile
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    <i class="mdi mdi-logout-variant mr-1"></i>Sign out
                </a>
            </div>
        </div>
    </div>
</nav>