<div class="form-group row">
    <div class="col-sm-3">
        <label for="search-name" class="col-form-label col-form-label-sm">Name</label>
    </div>
    <div class="col-sm-9">
        <div class="input-group">
            <input type="text" class="form-control form-control-sm" id="search-name" placeholder="text">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-3">
        <label for="search-email" class="col-form-label col-form-label-sm">Email</label>
    </div>
    <div class="col-sm-9">
        <div class="input-group">
            <input type="text" class="form-control form-control-sm" id="search-email" placeholder="text">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-3">
        <label for="search-phone" class="col-form-label col-form-label-sm">Phone</label>
    </div>
    <div class="col-sm-9">
        <div class="input-group">
            <input type="text" class="form-control form-control-sm" id="search-phone" placeholder="text">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-3">
        <label for="search-address" class="col-form-label col-form-label-sm">Address</label>
    </div>
    <div class="col-sm-9">
        <div class="input-group">
            <input type="text" class="form-control form-control-sm" id="search-address" placeholder="text">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-3">
        <label for="search-birthday" class="col-form-label col-form-label-sm">Birthday</label>
    </div>
    <div class="col-sm-9">
        <div class="input-group">
            <input type="text" class="form-control form-control-sm" id="search-birthday" placeholder="text">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-3">
        <label for="search-status" class="col-form-label col-form-label-sm">Status</label>
    </div>
    <div class="col-sm-9">
        <div class="input-group">
            <input type="text" class="form-control form-control-sm" id="search-status" placeholder="text">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-3">
        <label for="search-created_at" class="col-form-label col-form-label-sm">Created At</label>
    </div>
    <div class="col-sm-9">
        <div class="input-group">
            <input type="text" class="form-control form-control-sm" id="search-created_at" placeholder="text">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-3">
        <label for="search-updated_at" class="col-form-label col-form-label-sm">Updated At</label>
    </div>
    <div class="col-sm-9">
        <div class="input-group">
            <input type="text" class="form-control form-control-sm" id="search-updated_at" placeholder="text">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    <legend class="col-sm-3 col-form-label col-form-label-sm pt-0">Radios</legend>
    <div class="col-sm-9">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="search-radios" id="search-radio1-radios" value="option1" checked>
            <label class="form-check-label" for="search-radio1-radios">
                First radio
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="search-radios" id="search-radio2-radios" value="option2">
            <label class="form-check-label" for="search-radio2-radios">
                Second radio
            </label>
        </div>
        <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="search-radios" id="search-radio3-radios" value="option3" disabled>
            <label class="form-check-label" for="search-radio3-radios">
                Third disabled radio
            </label>
        </div>
    </div>
</div>
<div class="form-group row">
    <legend class="col-sm-3 col-form-label col-form-label-sm pt-0">Checkboxes</legend>
    <div class="col-sm-9">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="search-checkboxes" id="search-checkbox1-checkboxes" value="option1"
                checked>
            <label class="form-check-label" for="search-checkbox1-checkboxes">
                First checkbox
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="search-checkboxes" id="search-checkbox2-checkboxes" value="option2">
            <label class="form-check-label" for="search-checkbox2-checkboxes">
                Second checkbox
            </label>
        </div>
        <div class="form-check disabled">
            <input class="form-check-input" type="checkbox" name="search-checkboxes" id="search-checkbox3-checkboxes" value="option3"
                disabled>
            <label class="form-check-label" for="search-checkbox3-checkboxes">
                Third disabled checkbox
            </label>
        </div>
    </div>
</div>