// 目錄
div.menu {
  li.nav-item {
    background-color: white;
    // border-width: 0 0 1px 0;
    // border-style: solid;
    // border-bottom-color: #e5e5e5;
  }
  a.nav-link {
    color: gray !important;
    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
      color: black !important;
    }
    &.active {
      font-weight: bold;
      color: black !important;
      background-color: rgba(0, 0, 0, 0.03);
    }
  }
  .layer-color {
    background-color: rgba(0, 0, 0, 0.03);
  }
}
