// style
@import "~bootstrap/scss/bootstrap.scss";
@import "~@mdi/font/css/materialdesignicons.css";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
@import "~datatables.net-colreorder-bs4/css/colReorder.bootstrap4.min.css";
@import "~datatables.net-select-bs4/css/select.bootstrap4.min.css";
@import "~select2/dist/css/select2.min.css";
@import "~select2-bootstrap-theme/dist/select2-bootstrap.min.css";
@import "~sweetalert2/dist/sweetalert2.min.css";
@import "~flatpickr/dist/flatpickr.min.css";
// ----------------------------------------------------------------------------------------------------
@import "./layout/main.scss"